@import "tailwindcss";

/* Phone sizes first, scale up on md+ */




#floating-balloons {
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  height: 100vh;
  width: 100vw;   /* ✅ FIX */
  max-width: 100vw;
}


.float-balloon {
  position: absolute;
  bottom: -60px;
  width: 12px;
  height: 25px;
  opacity: 0.85;
  overflow: hidden;
  will-change: transform;
}

@keyframes swing {
  0%   { transform: rotate(1deg); }
  50%  { transform: rotate(-1deg); }
  100% { transform: rotate(1deg); }
}