@import "tailwindcss";

/* Phone sizes first, scale up on md+ */

.balloon-base {
  @apply absolute top-0 scale-200 md:scale-100 object-cover overflow-hidden;
  transform-origin: top center;
  animation: swing 1.1s ease-in-out infinite;
}


.balloon  { @apply absolute right-6   w-8 h-20 md:w-20 md:h-48; animation-duration: 1s; }
.balloon2  { @apply absolute right-6   w-8  h-20 md:w-16 md:h-40; animation-duration: 1.2s; }
.balloon3  { @apply absolute right-10  w-9  h-22 md:w-18 md:h-44; }

.balloon4  { @apply absolute right-14  w-7  h-18 md:w-14 md:h-36; animation-duration: 0.9s; }
.balloon5  { @apply absolute right-20  w-10 h-24 md:w-20 md:h-48; }
.balloon6  { @apply absolute right-28  w-8  h-20 md:w-16 md:h-40; animation-duration: 1.3s; }

.balloon7  { @apply absolute right-36  w-9  h-22 md:w-18 md:h-44; }
.balloon8  { @apply absolute right-44  w-7  h-18 md:w-14 md:h-36; animation-duration: 1s; }
.balloon9  { @apply absolute right-52  w-10 h-24 md:w-20 md:h-48; }

.balloon10 { @apply absolute right-60  w-8  h-20 md:w-16 md:h-40; animation-duration: 1.1s; }
.balloon11 { @apply absolute right-68  w-9  h-22 md:w-18 md:h-44; }
.balloon12 { @apply absolute right-76  w-7  h-18 md:w-14 md:h-36; animation-duration: 0.95s; }

.balloon13 { @apply absolute right-84  w-10 h-24 md:w-20 md:h-48; }
.balloon14 { @apply absolute right-92  w-8  h-20 md:w-16 md:h-40; animation-duration: 1.25s; }
.balloon15 { @apply absolute right-[25rem] w-9 h-22 md:w-18 md:h-44; }

.balloon16 { @apply absolute right-[28rem] w-7 h-18 md:w-14 md:h-36; animation-duration: 1s; }
.balloon17 { @apply absolute right-[31rem] w-10 h-24 md:w-20 md:h-48; }
.balloon18 { @apply absolute right-[34rem] w-8 h-20 md:w-16 md:h-40; animation-duration: 1.15s; }

.balloon19 { @apply absolute right-[37rem] w-9 h-22 md:w-18 md:h-44; }
.balloon20 { @apply absolute right-[40rem] w-7 h-18 md:w-14 md:h-36; animation-duration: 0.9s; }
.balloon21 { @apply absolute right-[43rem] w-10 h-24 md:w-20 md:h-48; }

.balloon22 { @apply absolute right-[46rem] w-8 h-20 md:w-16 md:h-40; animation-duration: 1.3s; }
.balloon23 { @apply absolute right-[49rem] w-9 h-22 md:w-18 md:h-44; }
.balloon24 { @apply absolute right-[52rem] w-8 h-20 md:w-16 md:h-40; animation-duration: 1.05s; }
.balloon25 { @apply absolute right-[55rem] w-10 h-24 md:w-20 md:h-48; animation-duration: 1.2s; }
.balloon26 { @apply absolute right-[58rem] w-7 h-18 md:w-14 md:h-36; animation-duration: 0.95s; }
.balloon27 { @apply absolute right-[61rem] w-9 h-22 md:w-18 md:h-44; animation-duration: 1.1s; }
.balloon28 { @apply absolute right-[64rem] w-8 h-20 md:w-16 md:h-40; animation-duration: 1.3s; }


#floating-balloons {
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 4; /* below text, above background */
}

.float-balloon {
  position: absolute;
  bottom: -60px;
  width: 14px;
  height: 32px;
  opacity: 0.85;
  will-change: transform;
}