@import "tailwindcss";
@import "./balloons.css";
@font-face {
  font-family: 'alkanz';
  src: url('../assets/fonts/Spotlight.otf') format('truetype');
}
@font-face {
  font-family: 'islamic';
  src: url('../assets/fonts/Balqis.ttf') format('truetype');
}
@font-face {
  font-family: 'alatsi';
  src: url('../assets/fonts/Alatsi/Alatsi-Regular.ttf') format('truetype');
}
/* Your custom global variables */
:root {
  --primary: var(--color-blue-200);
  --secondary: var(--color-sky-950);
  --tertiary: var(--color-sky-200);
}



body {
  background: var(--primary);
}
.dulhan{
  @apply h-24 left-10 top-36 absolute
}
.dulha{
  @apply h-24 right-10 top-36 absolute
}

.writings{
  @apply absolute md:top-20 top-[148px] z-10 w-full flex flex-col items-center justify-center text-center;
  animation: fade-in linear 3s;
  opacity: 1;
  color: var(--secondary);
  font-weight: 100
}

.invite-text{
  @apply text-lg drop-shadow-lg;
  font-family: 'alkanz'
}
.details-text{
  @apply text-2xl;
  font-family: 'islamic';
  font-weight: bold;
}
.name{
  @apply text-5xl m-4;
  font-family: 'islamic';
  font-weight: bold;
}
.tomb{
    @apply w-full h-80 object-fill;
}
.fade-container {
    position: relative;
}
.fade-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Adjust to control the fade area */
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--primary) 100%);
    pointer-events: none; /* Allows interaction with the image */
}


article{
  @apply mt-1.5 flex gap-2 w-56 items-center justify-center font-serif text-left;
  font-family: 'alatsi';
}

main{
  @apply flex gap-5 text-lg
}



@keyframes fade-in{
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

#rsvpForm {
  opacity: 0;
}

.one{
  @apply w-32 h-32 object-cover
}

@keyframes arrow-bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
}

.arrow-container{
  position:absolute;
  bottom:10px;
  display:flex;
  align-items:center;
  z-index:50;
  right: 75%;
  animation: arrow-bounce 1s infinite;
}
.arrow{
  color: var(--secondary);
}
.arrow-text{
  width: 80%;
  font-size:12px;
  color: var(--secondary);
  transform: rotate(90deg) translateX(-35px) translateY(15px);
  transform-origin: left center;
  margin:0;
  
}

